<h1>Recent posts</h1>
<%
  const orderedPosts = collections.post.sort((a, b) => b.date - a.date)
  for (const post of orderedPosts) {
%>
  <a href="<%= post.url %>">
      <h3>
        <%= post.data.title %>
      </h3>
      <p>Published <%= post.date.toDateString() %></p>
  </a>
<% } %>
