footer {
    background: linear-gradient(135deg, #ec6455, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: var(--default-inner-pad);
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 0px 20px 0px #00000030;
    flex-grow: 1;
    .footer-inner {
        max-width: var(--default-page-margin-width);
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}