header {
    background: linear-gradient(135deg, #ec6455, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: var(--default-inner-pad);
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 0px 20px 0px #00000030;
    position: sticky;
    top: 0px;
    .header-inner {
        max-width: var(--default-page-margin-width);
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            margin: 0px;
        }
        a.backToSocials {
            text-decoration: none;
            background: linear-gradient(135deg,#364c77,#000024);
            color: #fff;
            padding: 11px;
            border-radius: 6px;
            box-shadow: 0 0 20px 0 #00000030;
            transition: 0.2s ease-in-out;
            &:hover {
                transform: scale(1.05);
                transition: 0.2s ease-in-out;
            }
        }
    }
    
}