header {
    background: linear-gradient(135deg, #ec6455, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: var(--default-inner-pad);
    .header-inner {
        max-width: var(--default-page-margin-width);
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            margin: 0px;
        }
        a {
            text-decoration: none;
            color: inherit;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
}